.spinner {
  height: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: var(--color-primary);
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
